{% extends "base.html" %}

{% block header %}
    {% include "navbar.html" with isAlumno="true" %}
{% endblock %}

{% block content %}
	<div class="well">
		{% if process_alumno.notes.all %}
            <p>Notas:</p>
            {% for nota in process_alumno.notes.all %}
            	<p>Nota: {{ nota.nota }}</p>
            {% endfor %}
        {% endif %}
        <hr>
		{% for historial in historials %}
			<div class="row">
				<div class="col-lg-12">
					<p><b>Estado :</b> {{ historial.status }}</p>
					<p><b>Descripción: </b> {{ historial.description }}</p>
					<p><b>Fecha Creación: </b> {{ historial.creation_date }}</p>
					<p><b>Creado Por: </b> {{ historial.created_by }}</p>
					{% if historial.document %}
						<a target="_blank" href="/alumno/alumno-seguimiento-documento/{{ historial.id }}/">Documento</a>
					{% endif %}
					
				</div>
			</div>
			<hr>
		{% endfor %}
	</div>

	<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	    <p><big>Puedes responder llenando la siguiente información</big></p>
	    <input type="hidden" name="process_alumno" class="form-control" id="id_process_alumno" value="{{ process_alumno.id }}">
	    <input type="hidden" name="status" class="form-control" id="id_status" value="{{ process_alumno.status_verbose }}">
	    <input type="hidden" name="created_by" class="form-control" id="id_created_by" value="{{ request.user.first_name }} {{ request.user.last_name }}">
	    <div id="id_description_div" class="form-group row description ">
	        <label class="col-sm-2 form-control-label">*Descripción:</label>
	        <div class="col-sm-10">
	            <textarea name="description" id="id_description" required="" rows="10" cols="40" class="form-control"></textarea>
	        </div>
	    </div>
	    <div id="id_document_div" class="form-group row document ">
	        <label class="col-sm-2 form-control-label">Documento:</label>
	        <div class="col-sm-10">
	            <input type="file" name="document" class="form-control" id="id_document">
	        </div>
	    </div>
	    <div class="form-actions">
	        <div class="row text-center">
	            <input id="id_Guardar" class="btn btn-primary" type="submit" value="Guardar">
	        </div>
	    </div>
	</form>
{% endblock %}