{% extends "base.html" %}
{% block header %}
    {% include "navbar.html" %}
{% endblock %}
{% load staticfiles %}
{% block content%}

<style type="text/css">
	.btn-secondary{
		background-color: #660c0c !important;
		color: #FFF !important;
	}
	.btn-warning, .btn-primary{
		background-color: #660c0c;
		border-color: #660c0c !important;
		color: #FFF !important
	}
	.btn-warning:hover, .btn-primary:hover {
		background-color: #660c0c;
		border-color: #660c0c !important;
		color: #FFF !important
	}
</style>
<form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    <div class="form-actions">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button id="btn_tramite" onclick="toTramite()" type="button" class="btn btn-secondary">Trámite</button>
            </div>
            <div class="btn-group">
                <button id="btn_info" onclick="toNextInformacion()" type="button" class="btn btn-secondary">Información</button>
            </div>
            <div class="btn-group">
                <button id="btn_confirmacion" type="button" class="btn btn-secondary">Confirmación</button>
            </div>
        </div>
        <input type="hidden" name="alumno_id" id="alumno_id">
    </div>
    <hr>
    <input style="display: none;" id="id_Guardar" name="id_Guardar" class="btn btn-primary form-control" type="submit" value="Enviar">
</form>

<form class="form-horizontal" action="" method="POST" id="form_proceso_alumno">
    {% csrf_token %}
    <div id="div_tramite">
    	<hr>
    	<div class="well">
    		<input type="hidden" name="alumn_id" name="alumn_id" value="{{ user.alumno.id }}">
    		<div class="form-group">
    			<div class="col-lg-4 col-lg-offset-2">
	            	<label for="periodo_id">Periodo</label>
	            </div>
	            <div class="col-lg-4">
		            <select id="periodo_id" name="periodo_id" class="form-control">
		            {% for periodo in periodos %}
		                <option value="{{ periodo.id }}">{{ periodo.name }}</option>
		            {% endfor %}
		            </select>
	            </div>
    		</div>
    		<div class="form-group">
    			<div class="col-lg-4 col-lg-offset-2">
	            	<label for="carrer">Carrera</label>
	            </div>
	            <div class="col-lg-4">
		            <select id="carrer" name="carrer" class="form-control" disabled>
		            {% for carrera in carreras %}
		            	{% if alumno.carrer.id == carrera.id %}
		                <option selected="true" value="{{ carrera.id }}">{{ carrera.name }}</option>
		                {% else %}
		                <option value="{{ carrera.id }}">{{ carrera.name }}</option>
		                {% endif %}
		            {% endfor %}
		            </select>
	            </div>
    		</div>
    		<div class="form-group">
    			<div class="col-lg-4 col-lg-offset-2">
	            	<label for="id_ciclo">Ciclo</label>
	            </div>
	            <div class="col-lg-4">
		            <select id="id_ciclo" name="id_ciclo" class="form-control">
			            {% for ciclo in ciclos %}
			            	{% if alumno.carrer.id == ciclo.carrer.id %}
			                <option value="{{ ciclo.id }}">{{ ciclo.name }}</option>
			                {% endif %}
			            {% endfor %}
		            </select>
	            </div>
    		</div>
    		<div class="form-group">
    			<div class="col-lg-4 col-lg-offset-2">
	            	<label for="subject_id">Materia</label>
	            </div>
	            <div class="col-lg-4">
		            <select id="subject_id" name="subject_id" class="form-control">
		            </select>
	            </div>
    		</div>
    		<div class="form-group">
    			<div class="col-lg-4 col-lg-offset-2">
	            	<label for="process_id">Proceso</label>
	            </div>
	            <div class="col-lg-4">
		            <select id="process_id" name="process_id" class="form-control">
		            {% for proceso in procesos %}
		                <option value="{{ proceso.id }}">{{ proceso.name }}</option>
		            {% endfor %}
		            </select>
	            </div>
    		</div>
    		<div  id="div_parcial" class="form-group">
    			<div class="col-lg-4 col-lg-offset-2">
	            	<label for="parcial">Parcial</label>
	            </div>
	            <div class="col-lg-4">
		            <select id="parcial" name="parcial" class="form-control">
		            	<option value="1 Parcial">1 Parcial</option>
		            	<option value="2 Parcial">2 Parcial</option>
		            </select>
	            </div>
    		</div>
    		<div class="form-group">
    			<div class="col-lg-4 col-lg-offset-2">
	            	<label for="document">Documento</label>
	            </div>
	            <div class="col-lg-4">
		            <input type="file" id="document" name="document" data-toggle="tooltip" data-placement="top" title="Documento de respaldo, copia de examen, copia de solicitud">
	            </div>
    		</div>
        </div>
        <hr>
	    <div class="form-actions">
	    	<input id="id_siguiente_1" style="float: right;" name="id_siguiente_1" class="btn btn-primary" type="submit" value="Siguiente">
	    </div>
    </div>
</form>

<div id="div_informacion" style="display: none;" >
    	<hr>
    	<div class="well">
	    	<div class="form-group">
	    		<div class="col-lg-8 col-lg-offset-2" style="margin-bottom: 50px">
		    		<div class="table-responsive">
			            <table id="table" class="table table-striped" data-toggle="tooltip" data-placement="top" title="Lista de Temas para la Recalificación">
			                <thead>
			                    <tr>
			                        <th>#</th>
			                        <th>Tema</th>
			                        <th>Argumento</th>
			                        <th>Documento</th>
			                        <th>Borrar</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                    </tr>
			                </tbody>
			            </table>
			        </div>
			    </div>
			</div>
    		<form class="form-horizontal" action="" method="POST" id="form_proceso_alumno_item">
    			{% csrf_token %}
    			<input type="hidden" id="process_id_2" name="process_id_2">
    			<div class="row">
	    			<div class="form-group">
		    			<div class="col-lg-4 col-lg-offset-2">
			            	<label for="name">*Tema</label>
			            </div>
			            <div class="col-lg-4">
				            <input type="text" name="name" id="name" required="" class="form-control" data-toggle="tooltip" data-placement="top" title="Ingrese el número del tema">
			            </div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-lg-4 col-lg-offset-2">
			            	<label for="description">*Argumento</label>
			            </div>
			            <div class="col-lg-4">
				           <textarea id="description" name="description" required="" class="form-control" data-toggle="tooltip" data-placement="top" title="Ingrese argumento por el cuál se presenta la recalificación en detalle"></textarea>
			            </div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-lg-4 col-lg-offset-2">
			            	<label for="image">Documento</label>
			            </div>
			            <div class="col-lg-4">
				            <input type="file" id="image" name="image" data-toggle="tooltip" data-placement="top" title="Ingrese archivo(s) de soporte que respalde el justificativo del tema a recalificar">
			            </div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-lg-10">
		    				<input id="btn_crear_item" style="float: right;" name="btn_crear_item" class="btn btn-warning" type="submit" value="Agregar" data-toggle="tooltip" data-placement="top" title="Agregar Tema a la tabla de de Lista de Temas">
			            </div>
		    		</div>
	    		</div>
    		</form>	
        </div>
        <hr>
	    <div class="form-actions">
	    	<button id="id_siguiente_2" style="float: right;" onclick="toNextConfirmacion()" name="id_siguiente_2" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Asegúrese de que toda la información este correcta antes de continuar">Siguiente</button>
	    </div>
</div>


<div style="display: none;" id="div_confirmacion">
    <hr>
    <div class="form-group">
    	<div class="col-lg-6 col-lg-offset-4">
	        <label for="id_periodo">Pulse el botón ENVIAR en la parte superior para empezar su trámite.</label>
	    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript %}
    <script type="text/javascript">
    	$(document).ready(function() {
    		$('[data-toggle="tooltip"]').tooltip(); 
    		var id = document.getElementById('id_ciclo').value;
    		$.ajax({ // create an AJAX call...
	        	data: $(this).serialize(), // get the form data
	        	type: $(this).attr('method'), // GET or POST
	        	url: '/api/materia/' + id, // the file to call
	        	success: function(response) { // on success..
	                $("#subject_id").empty();
	                var i;
	                var _ddl_ = document.getElementById("subject_id");
	                var option = document.createElement("option");
	                for (i = 0; i < response.length; i++) { 
	                    option = document.createElement("option");
	                    option.text = response[i]['name'];
	                    option.value = response[i]['id'];
	                    _ddl_.add(option);
	                }
	            },
	            error: function(e, x, r) { // on error..
                    $("#subject_id").empty();
                    var _ddl_ = document.getElementById("subject_id");
	                var option = document.createElement("option");
	                option.text = "----"
		            option.value = "0";
		            _ddl_.add(option);
	                console.log(e);
	            }
	        });
    	});

    	$('#id_ciclo').change(function(){
    		if(document.getElementById('id_ciclo').value == 0){
    			$("#subject_id").empty();
    			var _ddl_ = document.getElementById("subject_id");
    			var option = document.createElement("option");
                option.text = "----"
                option.value = "0";
                _ddl_.add(option);
    		}else{
    			var id = document.getElementById('id_ciclo').value;
    			$.ajax({ // create an AJAX call...
	                data: $(this).serialize(), // get the form data
	                type: $(this).attr('method'), // GET or POST
	                url: '/api/materia/' + id, // the file to call
	                success: function(response) { // on success..
	                    $("#subject_id").empty();
	                    var i;
	                    var _ddl_ = document.getElementById("subject_id");
	                    var option = document.createElement("option");
	                    for (i = 0; i < response.length; i++) { 
	                        option = document.createElement("option");
	                        option.text = response[i]['name'];
	                        option.value = response[i]['id'];
	                        _ddl_.add(option);
	                    }
	                },
	                error: function(e, x, r) { // on error..
                        $("#subject_id").empty();
                        var _ddl_ = document.getElementById("subject_id");
	                    var option = document.createElement("option");
	                    option.text = "----"
		                option.value = "0";
		                _ddl_.add(option);
	                    console.log(e);
	                }
	            });
    		}
        });

    	function toTramite(){
    		document.getElementById("div_confirmacion").style.display = "none";
			document.getElementById("div_tramite").style.display = "";
			document.getElementById("div_informacion").style.display = "none";
    	}

    	function goToNext(){
    		if(document.getElementById('process_id').value == 2){
    			toNextConfirmacion();
    		}else{
    			toNextInformacion();
    		}
    	}

    	$('#process_id').change(function() {
    		if(document.getElementById('process_id').value == 2){
    			document.getElementById('div_parcial').style.display = "none";
    		}else{
    			document.getElementById('div_parcial').style.display = "";
    		}
		});

        function toNextInformacion(){
        	document.getElementById("div_confirmacion").style.display = "none";
			document.getElementById("div_tramite").style.display = "none";
			document.getElementById("div_informacion").style.display = "";
        }

        function toNextConfirmacion(){
        	document.getElementById("id_Guardar").style.display="";
        	document.getElementById("div_confirmacion").style.display = "";
			document.getElementById("div_tramite").style.display = "none";
			document.getElementById("div_informacion").style.display = "none";
        }

        $('#form_proceso_alumno_item').submit(function() {
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: '/alumno/proceso-item-new/', // the file to call
                success: function(response) { // on success..
                    console.log(response);
                    let jsonObject = JSON.parse(response);

                    var table = document.getElementById("table");
				    var row = table.insertRow(1);
				    var cell0 = row.insertCell(0);
				    var cell1 = row.insertCell(1);
				    var cell2 = row.insertCell(2);
				    var cell3 = row.insertCell(3);
				    var cell4 = row.insertCell(4);

				    var _id_ = jsonObject.items['id'];

				    var button = document.createElement("input");
				    button.setAttribute('type','button'); // set attributes ...
				    button.setAttribute('name','borrarBtn_'+_id_);
				    button.setAttribute('id','borrarBtn_'+_id_);
				    button.setAttribute('class','btn btn-primary');
				    button.setAttribute('value', 'Borrar');
				    button.onclick = function() {
				    	$(this).closest('tr').remove();
				    	$.ajax({ // create an AJAX call...
				    		data: {
						        csrfmiddlewaretoken: '{{ csrf_token }}'
						    },
			                type: 'POST', // GET or POST
			                url: '/alumno/proceso-item-delete/'+_id_+"/", // the file to call
			                success: function(response) { // on success..
			                    
			                },
			                error: function(e, x, r) { // on error..
			                    console.log(e);
			                }
			            });
				    }

				    cell0.innerHTML = jsonObject.items['id'];
				    cell1.innerHTML = jsonObject.items['name'];
				   	cell2.innerHTML = jsonObject.items['description'];
				   	// cell3.innerHTML = jsonObject.items['description'];
				    cell4.appendChild(button);
				    document.getElementById('name').value = "";
                    document.getElementById('description').value = "";
                },
                error: function(e, x, r) { // on error..
                    console.log(e);
                }
            });
            return false;
        });

        $('#form_proceso_alumno').submit(function() { 
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                enctype: "multipart/form-data",
                url: '/alumno/proceso-alumno-new/', // the file to call
                success: function(response) { // on success..
                    let jsonObject = JSON.parse(response);
                    document.getElementById('process_id_2').value = jsonObject.items['id'];
                    goToNext();
                },
                error: function(e, x, r) { // on error..
                    console.log(e);
                }
            });
            return false;
        });
    </script>
{% endblock %}

{% endblock%}