{% extends "base.html" %}

{% block header %}
    {% include "navbar.html" with isAlumno="true" %}
{% endblock %}

{% block content%}

{% include "form_bootstrap.html" with submit_value="Guardar" show_help_texts_in_hidden="True" %}

{% block javascript %}
    <script type="text/javascript">
    	$(document).ready(function(){
    		document.getElementById('id_input_nota_0_div').style.display = "none";
    		document.getElementById('id_input_nota_1_div').style.display = "none";
    		document.getElementById('id_input_nota_2_div').style.display = "none";
    	});
    	$('#id_status').change(function(){
    		if(document.getElementById('id_status').value == 'FN'){
    			{% if 'Gracia' in proceso_alumno.process.name %}
    				console.log('d');
    				document.getElementById('id_input_nota_0_div').style.display = "";
    			{% else %}
    				console.log('2');
    				document.getElementById('id_input_nota_0_div').style.display = "";
    				document.getElementById('id_input_nota_1_div').style.display = "";
    				document.getElementById('id_input_nota_2_div').style.display = "";
    			{% endif %}
    		}else{
    			document.getElementById('id_input_nota_0_div').style.display = "none";
    			document.getElementById('id_input_nota_1_div').style.display = "none";
    			document.getElementById('id_input_nota_2_div').style.display = "none";
    		}
        });
	</script>
{% endblock %}

{% endblock%}