{% extends "template.html" %}
{% load staticfiles %}

{% block header %}
    {% include "navbar_full.html" with isHome="True" %}
{% endblock %}

{% block content%}
<style type="text/css">
	body{
		background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;
	    background-image: url('{% static "images/background.png" %}');
	}
</style>
<br>
<div class="col-sm-6">
	<p align="left">{% if not user.is_authenticated %}Para continuar <a href="administrador/login">inicie sesión</a>. Si no posee credenciales para acceder, contácte al administrador del sitio.{% endif %}</p>
</div>
{% endblock%}