<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Business Life</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="static/sourceadmin/css/theme.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet/less" type="text/css" href="static/sourceadmin/css/variables.less" />

<link rel="shortcut icon" href="static/sourceadmin/images/favicon.png" type="image/x-icon">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		
		<div class="container"> 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand">Vende Más</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					 <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">DropDown
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Link 2</a></li>
						</ul>
					 </li>              
				 </ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span>
							<strong>Salman</strong>
							<span class="glyphicon glyphicon-chevron-down"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<div class="navbar-login">
									<div class="row">
										<div class="col-lg-4">
											<p class="text-center"><span class="glyphicon glyphicon-user icon-size"></span></p>
										</div>
										<div class="col-lg-8">
											<p class="text-left"><strong>Salman Khan</strong></p>
											<p class="text-left small">crazytodevelop@@gmail.com</p>
											<p class="text-left"><a href="#" class="btn btn-primary btn-block btn-sm">Profile</a></p>
										</div>
									</div>
								</div>
							</li>
							<li class="divider navbar-login-session-bg"></li>
							<li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
							<li class="divider"></li>
							<li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
							<li class="divider"></li>
							<li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
							<li class="divider"></li>
							<li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
							<li class="divider"></li>
							<li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
						</ul>
					</li>
				</ul>

			</div>
			
		</div>
	</div>
</body>
</html>
