{% extends "base.html" %}

{% block header %}
    {% include "navbar.html" %}
{% endblock %}

{% block content%}
<form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    <div id="id_username_div" class="form-group row username ">
        <label class="col-sm-2 form-control-label">*Usuario:</label>
        <div class="col-sm-10">
            <input type="text" name="username" required="" class="form-control" id="id_username">
        </div>
    </div>
    <div id="id_password_div" class="form-group row password ">
        <label class="col-sm-2 form-control-label">*Contraseña:</label>
        <div class="col-sm-10">
            <input type="password" name="password" required="" class="form-control" id="id_password">
        </div>
    </div>
    {% comment %}
    <div class="form-group row">
    	<div class="col-sm-6 col-xs-6">
    		<a href="{% url "alumno-new" %}" class="btn btn-warning">Crear Cuenta</a>
    	</div>
        <div class="col-sm-6 col-xs-6">
            <a href="#" style="float: right;" class="">Recuperar Contraseña</a>
        </div>
    </div>
    {% endcomment %}
    <div class="form-actions">
        <input id="id_Iniciar sesión" class="btn btn-primary form-control" type="submit" value="Iniciar sesión">
    </div>
</form>
{% endblock%}