{% extends "base.html" %}

{% block header %}
    {% include "navbar.html" with isUniversidad="true" %}
{% endblock %}

{% block content%}
<form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    <div id="id_name_div" class="form-group row name ">
        <label class="col-sm-2 form-control-label">*Nombre:</label>
        <div class="col-sm-10">
            <input data-toggle="tooltip" data-placement="top" title="Nombre del Proceso" type="text" name="name" id="id_name" required="" class="form-control" maxlength="128">
        </div>
    </div>
    <div id="id_requirements_div" class="form-group row requirements ">
        <label class="col-sm-2 form-control-label">*Requerimientos:</label>
        <div class="col-sm-10">
            <textarea data-toggle="tooltip" data-placement="top" title="Requerimientos para aplicar al Proceso" type="text" name="requirements" id="id_requirements" required="" class="form-control" maxlength="256" rows="6"></textarea>
        </div>
    </div>
    <div id="id_proceso_items_div" class="form-group row proceso_items ">
        <label class="col-sm-2 form-control-label">*Descripción:</label>
        <div class="col-sm-10">
            <select data-toggle="tooltip" data-placement="top" title="Descripción del proceso para los Alumnos" name="proceso_items" required="" multiple="multiple" class="form-control" id="id_proceso_items">
            	{% for proceso_item in proceso_items %}
                <option value="{{proceso_item.id}}">{{proceso_item.description}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <a href="JavaScript:void(0);" id="btn-up">Arriba <i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
             <a href="JavaScript:void(0);" id="btn-down">Abajo <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
        </div>
    </div>
    <div id="id_deleted_div" class="form-group row deleted ">
        <label class="col-sm-2 form-control-label">Deshabilitado:</label>
        <div class="col-sm-10">
            <input type="checkbox" name="deleted" class="form-control" id="id_deleted">   
        </div>
    </div>
    <div class="form-actions">
        <input data-toggle="tooltip" data-placement="top" title="Guardar Proceso" id="id_Guardar" class="btn btn-primary" type="submit" value="Guardar">
    </div>
</form>

<hr>

<form class="form-horizontal" action="" method="POST" id="form_proceso_item">
    {% csrf_token %}
    <div id="items" class="well">
    	<h4>Nuevos Items para la descripción del Proceso</h4>
	    <div id="id_name_div_item" class="form-group row name_item ">
	        <label class="col-sm-2 form-control-label">*Nombre:</label>
	        <div class="col-sm-10">
	            <input type="text" required="" name="name" id="name" class="form-control" maxlength="128">
	        </div>
	    </div>
	    <div id="id_description_div_item" class="form-group row description_item ">
	        <label class="col-sm-2 form-control-label">*Descripción:</label>
	        <div class="col-sm-10">
	            <input type="text" required="" name="description" id="description" class="form-control" maxlength="256">
	        </div>
	    </div>
	    <div id="id_image_div_item" class="form-group row image_item ">
	        <label class="col-sm-2 form-control-label">Imágen:</label>
	        <div class="col-sm-10">
	            <input type="file" name="image" class="form-control" id="image">
	        </div>
	    </div>
	    <div class="">
	        <input data-toggle="tooltip" data-placement="top" title="Guardar nuevo item" id="btn_crear_item" name="btn_crear_item" class="btn btn-primary" type="submit" value="Crear">
	    </div>
    </div>
</form>

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip(); 
            $('#btn-up').bind('click', function() {
                $('#id_proceso_items option:selected').each( function() {
                    var newPos = $('#id_proceso_items option').index(this) - 1;
                    if (newPos > -1) {
                        $('#id_proceso_items option').eq(newPos).before("<option value='"+$(this).val()+"' selected='selected'>"+$(this).text()+"</option>");
                        $(this).remove();
                    }
                });
            });
            $('#btn-down').bind('click', function() {
                var countOptions = $('#id_proceso_items option').length;
                $('#id_proceso_items option:selected').each( function() {
                    var newPos = $('#id_proceso_items option').index(this) + 1;
                    if (newPos < countOptions) {
                        $('#id_proceso_items option').eq(newPos).after("<option value='"+$(this).val()+"' selected='selected'>"+$(this).text()+"</option>");
                        $(this).remove();
                    }
                });
            });
        });
        $('#form_proceso_item').submit(function() { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: '/administrador/proceso-item-new/', // the file to call
                success: function(response) { // on success..
                    $("#id_proceso_items").empty();
                    let jsonObject = JSON.parse(response);
                    var i;
                    var _ddl_ = document.getElementById("id_proceso_items");
                    for (i = 0; i < jsonObject.items.length; i++) { 
                        var option = document.createElement("option");
                        option.text = jsonObject.items[i]['name'];
                        option.value = jsonObject.items[i]['id'];
                        _ddl_.add(option);
                    }
                    document.getElementById('name').value = "";
                    document.getElementById('description').value = "";
                },
                error: function(e, x, r) { // on error..
                    console.log(e);
                }
            });
            return false;
        });
    </script>
{% endblock %}
{% endblock%}