{% extends "base.html" %}

{% block header %}
    {% include "navbar.html" with isReporter="true" %}
{% endblock %}

{% block content%}
<form class="form-horizontal" action="" method="POST" id="form_stats">
    {% csrf_token %}
    <div id="id_process_div" class="form-group row process ">
        <label class="col-sm-2 form-control-label">*Proceso:</label>
        <div class="col-sm-10">
            <select name="process"   class="form-control" id="id_process">
                <option value="" selected="">---------</option>
                {% for proceso in procesos %}
                    <option value="{{ proceso.id }}">{{ proceso.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row carrer ">
        <label class="col-sm-2 form-control-label">*Carrera:</label>
        <div class="col-sm-10">
            <select name="carrer"   class="form-control" id="id_carrer">
                <option value="" selected="">---------</option>
                {% for carrer in carrers %}
                <option value="{{ carrer.id }}">{{ carrer }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row carrer ">
        <label class="col-sm-2 form-control-label">*Profesor:</label>
        <div class="col-sm-10">
            <select name="profesor"   class="form-control" id="id_profesor">
                <option value="" selected="">---------</option>
                {% for profesor in profesores %}
                <option value="{{ profesor.id }}">{{ profesor }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row carrer ">
        <label class="col-sm-2 form-control-label">*Materia:</label>
        <div class="col-sm-10">
            <select name="materia"   class="form-control" id="id_materia">
                <option value="" selected="">---------</option>
                {% for materia in materias %}
                    <option value="{{ materia.id }}">{{ materia }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row periodo ">
        <label class="col-sm-2 form-control-label">*Periodo:</label>
        <div class="col-sm-10">
            <select name="periodo"   class="form-control" id="id_periodo">
                {% for periodo in periodos %}
                <option value="{{ periodo.id }}">{{ periodo.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row parcial ">
        <label class="col-sm-2 form-control-label">*Parcial:</label>
        <div class="col-sm-10">
            <select name="parcial" class="form-control" id="id_parcial">
                <option value="" selected="">---------</option>
                <option value="1 Parcial">1 Parcial</option>
                <option value="2 Parcial">2 Parcial</option>
                <option value="Recuperación">Recuperación</option>
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row estado ">
        <label class="col-sm-2 form-control-label">*Estado:</label>
        <div class="col-sm-10">
            <select name="estado" class="form-control" id="id_estado">
                <option value="" selected="">---------</option>
                {% for value, text in choices %}
                <option value="{{ value }}">{{ text }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row tiempo ">
        <label class="col-sm-2 form-control-label">*Fecha Inicio:</label>
        <div class="col-sm-10">
            <input type="date" name="tiempo_inicio" id="id_tiempo_inicio" class="form-control">
        </div>
    </div>
    <div id="id_process_div" class="form-group row tiempo ">
        <label class="col-sm-2 form-control-label">*Fecha Fin:</label>
        <div class="col-sm-10">
            <input type="date" name="tiempo_fin" id="id_tiempo_fin" class="form-control">
        </div>
    </div>
    <div class="form-actions">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2"><input id="id_Guardar" class="btn btn-primary form-control" type="submit" value="Generar"></div>
                    <div class="col-lg-5"></div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="chart_div" style="width: 100%; height: 500px; display: none;"></div>
<div id="chart_div2" style="width: 100%; height: 500px; display: none;"></div>
<div id="chart_div3" style="width: 100%; height: 500px; display: none;"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function() {
            $("#form_stats").submit(function(e) {
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: '/api/proceso/', // the file to call
                    success: function(response) { // on success..
                        var i;

                        document.getElementById('chart_div').style.display = '';
                        document.getElementById('chart_div2').style.display = '';
                        document.getElementById('chart_div3').style.display = '';

                        processo = document.getElementById('id_process');
                        carrer = document.getElementById('id_carrer');
                        profesor = document.getElementById('id_profesor');
                        materia = document.getElementById('id_materia');
                        periodo = document.getElementById('id_periodo');
                        parcial = document.getElementById('id_parcial');
                        estado = document.getElementById('id_estado');
                        tiempo_inicio = document.getElementById('id_tiempo_inicio');
                        tiempo_fin = document.getElementById('id_tiempo_fin');

                        var _data_ = [];

                        _data_.push(['Proceso', 'Cantidad']);

                        var c1 = 0;

                        for (i = 0; i < response.length; i++) { 
                            console.log(response[i])
                            if (response[i]['process']['name'] == 'Examen de Gracia'){
                                c1 = c1 + 1;
                            }
                        }
                        _data_.push(['Examen de Gracia', c1]);

                        c1 = 0;
                        for (i = 0; i < response.length; i++) { 
                            if (response[i]['process']['name'] == 'Recalificación'){
                                c1 = c1 + 1;
                            }
                        }
                        _data_.push(['Recalificación', c1]);

                        var data = google.visualization.arrayToDataTable(_data_);
                        var options = {
                            title : 'Procesos',
                            vAxis: {title: 'Cantidad'},
                            hAxis: {title: 'Proceso'},
                            seriesType: 'bars',
                            series: {5: {type: 'line'}}
                        };
                        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                        chart.draw(data, options);

                        ///////////

                        _data_ = [];

                        // _data_.push(['Materia', 'Examen de Gracia', 'Recalificación']);

                        var c1 = 0;
                        var c2 = 0;

                        for (i = 0; i < response.length; i++) { 
                            var j = 0;
                            c1 = 0;
                            c2 = 0;
                            for (j = 0; j < response.length; j++) { 
                                if (response[i]['subject'] == response[j]['subject'] && response[j]['process']['name'] == 'Examen de Gracia'){
                                    c1 = c1 + 1;
                                }
                                if (response[i]['subject'] == response[j]['subject'] && response[j]['process']['name'] == 'Recalificación'){
                                    c2 = c2 + 1;
                                }
                            }
                            _data_.push([response[i]['subject'], c1, c2]);
                        }
                        
                        var newarr = [['Materia', 'Examen de Gracia', 'Recalificación']];

                        for (var i=1; i<_data_.length; i++) {
                            
                           if (_data_[i]!=_data_[i-1]) newarr.push(_data_[i]);
                        }

                        data = google.visualization.arrayToDataTable(newarr);
                        options = {
                            title : 'Materia',
                            vAxis: {title: 'Cantidad'},
                            hAxis: {title: 'Materia'},
                            seriesType: 'bars',
                            series: {5: {type: 'line'}}
                        };
                        var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
                        chart.draw(data, options);
                    },
                    error: function(e, x, r) { // on error..
                        console.log(e);
                    }
                });
                e.preventDefault();
            });
        });

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);

        $('#id_profesor').change(function(){
            if(document.getElementById('id_profesor').value == ""){
                $("#id_materia").empty();
                var _ddl_ = document.getElementById("id_materia");
                var option = document.createElement("option");
                option.text = "----"
                option.value = "";
                _ddl_.add(option);
                {% for materia in materias %}
                    option = document.createElement("option");
                    option.text = "{{ materia }}";
                    option.value = "{{ materia.id }}";
                    _ddl_.add(option);
                {% endfor %}
            }else{
                var id = document.getElementById('id_profesor').value;
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: '/api/profesor-materia/' + id, // the file to call
                    success: function(response) { // on success..
                        $("#id_materia").empty();
                        var i;
                        var _ddl_ = document.getElementById("id_materia");
                        var option = document.createElement("option");
                        for (i = 0; i < response.length; i++) { 
                            option = document.createElement("option");
                            option.text = response[i]['name'];
                            option.value = response[i]['id'];
                            _ddl_.add(option);
                        }
                    },
                    error: function(e, x, r) { // on error..
                        $("#id_materia").empty();
                        var _ddl_ = document.getElementById("id_materia");
                        var option = document.createElement("option");
                        option.text = "----"
                        option.value = "";
                        _ddl_.add(option);
                        {% for materia in materias %}
                            option = document.createElement("option");
                            option.text = "{{ materia }}"
                            option.value = "{{ materia.id }}";
                            _ddl_.add(option);
                        {% endfor %}
                    }
                });
            }
        });
    </script>

{% endblock %}

{% endblock%}