{% extends "base.html" %}

{% block header %}
    {% include "navbar.html" with isReporter="true" %}
{% endblock %}

{% block content%}
<form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    <div id="id_process_div" class="form-group row process ">
        <label class="col-sm-2 form-control-label">*Proceso:</label>
        <div class="col-sm-10">
            <select name="process" required="" class="form-control" id="id_process">
                <option value="" selected="">---------</option>
                <option value="1">Recalificación</option>
                <option value="2">Examen de Gracia</option>
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row carrer ">
        <label class="col-sm-2 form-control-label">*Carrera:</label>
        <div class="col-sm-10">
            <select name="carrer" required="" class="form-control" id="id_carrer">
                <option value="" selected="">---------</option>
                {% for carrer in carrers %}
                <option value="{{ carrer.id }}">{{ carrer }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if user.is_staff or user.is_superuser %}
    <div id="id_process_div" class="form-group row carrer ">
        <label class="col-sm-2 form-control-label">*Profesor:</label>
        <div class="col-sm-10">
            <select name="carrer" required="" class="form-control" id="id_profesor">
                <option value="" selected="">---------</option>
                {% for profesor in profesores %}
                <option value="{{ profesor.id }}">{{ profesor }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <div id="id_process_div" class="form-group row carrer ">
        <label class="col-sm-2 form-control-label">*Materia:</label>
        <div class="col-sm-10">
            <select name="carrer" required="" class="form-control" id="id_materia">
                <option value="" selected="">---------</option>
                {% for materia in materias %}
                    {% if user.is_staff or user.is_superuser %}
                        <option value="{{ materia.id }}">{{ materia }}</option>
                    {% else %}
                        {% if materia in profesor.subjects.all %}
                            <option value="{{ materia.id }}">{{ materia }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="id_process_div" class="form-group row periodo ">
        <label class="col-sm-2 form-control-label">*Periodo:</label>
        <div class="col-sm-10">
            <select name="periodo" required="" class="form-control" id="id_periodo">
                <option value="" selected="">---------</option>
                {% for periodo in periodos %}
                <option value="{{ periodo.id }}">{{ periodo.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-actions">
        <div class="row text-center">
            <input id="id_Generar" class="btn btn-primary" type="submit" value="Generar">
        </div>
    </div>
</form>
{% endblock%}